<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>PlatziCommerce</title>
</head>
<body>

    <div id="app">

        <header>

            <h3>PlatziCommerce</h3>
            <button class="cart" @click="cartOpen = !cartOpen">Carro ({{ cart.length }})</button>

            <div class="cart-content" v-show="cartOpen">

                <div class="cart-content__product" v-for="(product, index) in cart" :key="product.name" :class="{ 'bg-gray': index & 1 }">
                    <img :src="product.images[0].image" :alt="product.name.toUpperCase()">
                    <span>{{ product.name }} - $ {{ new Intl.NumberFormat("es-MX").format(product.price) }} {{ product.quantity }}</span>
                </div>

            </div>

        </header>

        <main>

            <section class="product">

                <div class="product__thumbnails">
                    <div 
                    v-for="(image, index) in product.images"
                    :key="image.thumbnail"
                    class="thumb" 
                    :class="{ active: activeImage == index }" 
                    :style="{ backgroundImage: 'url(' + product.images[index].thumbnail +')' }"
                    @click="activeImage = index"
                    ></div>
                </div>

                <div class="product__image">
                    <img :src="product.images[activeImage].image" :alt="product.name">
                </div>

            </section>

            <section class="description">

                <h4>{{ product.name.toUpperCase() }} {{ product.stock == 0 ? "😭" : "😎" }}</h4>
                <span class="badge new" v-if="product.new">Nuevo</span>
                <span class="badge offer" v-if="product.offer">Oferta</span>

                <p class="description__status" v-if="product.stock == 3">Quedan pocas unidades</p>
                <p class="description__status" v-else-if="product.stock == 2">El producto está por terminarse</p>
                <p class="description__status" v-else-if="product.stock == 1">Última unidad disponible</p>

                <p class="description__price">$ {{ new Intl.NumberFormat("es-MX").format(product.price) }}</p>
                <p class="description__content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo, facere quis animi, amet sequi iste ipsam rerum, necessitatibus tempora obcaecati consequatur maxime sint eos laboriosam veniam maiores voluptatem eum! Eveniet!</p>

                <div class="discount">
                    <span>Código de Descuento</span>
                    <input type="text" placeholder="Ingresa tu código" 
                    @keyup.enter="applyDiscount($event)">
                </div>

                <button :disabled="product.stock == 0" @click="addToCart">Agregar al carrito</button>

            </section>

        </main>
        
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script>

        const { createApp, ref } = Vue;

        const app = createApp({

            setup() {

                const product = ref({
                    name: "Camara",
                    price: 450_000,
                    stock: 5,
                    content: `Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo, facere quis animi, amet sequi iste ipsam rerum, necessitatibus tempora obcaecati consequatur maxime sint eos laboriosam veniam maiores voluptatem eum! Eveniet!`,
                    images: [
                        {
                            image: "./images/camara.jpg",
                            thumbnail: "./images/camara-thumb.jpg"
                        },
                        {
                            image: "./images/camara-2.jpg",
                            thumbnail: "./images/camara-2-thumb.jpg"
                        }
                    ],
                    new: true,
                    offer: true,
                    quantity: 1
                });

                const activeImage = ref(0);
                const cartOpen = ref(false);

                const cart = ref([]);
                function addToCart() {

                    const prodIndex = cart.value.findIndex(prod => prod.name == product.value.name);

                    if (prodIndex >= 0)
                        cart.value[prodIndex].quantity += 1;
                    else 
                        cart.value.push(product.value);

                    product.value.stock -= 1;

                }


                const discountCodes = ref(["PLATZI20", "RETAXMASTER"]);
                function applyDiscount(event) {

                    const discountCodeIndex = discountCodes.value.indexOf(event.target.value);

                    if (discountCodeIndex >= 0) {
                        product.value.price *= 50/100;
                        discountCodes.value.splice(discountCodeIndex, 1)
                    }

                }

                setTimeout(() => {
                    activeImage.value = 1;
                }, 2000);

                return {
                    product,
                    activeImage,
                    cartOpen,
                    cart,

                    applyDiscount,
                    addToCart
                }

            },

        });

        app.mount("#app");

    </script>
    
</body>
</html>