<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>PlatziCommerce</title>
</head>
<body>

    <div id="app">

        <header>

            <h3>PlatziCommerce</h3>
            <button class="cart" @click="cartOpen = !cartOpen">Carro ({{ cart.length }})</button>

            <div class="cart-content" v-show="cartOpen">

                <div class="cart-content__product" v-for="(product, index) in cart" :key="product.name" :class="{ 'bg-gray': index & 1 }">
                    <img :src="product.images[0].image" :alt="product.name.toUpperCase()">
                    <span>{{ product.name }} - $ {{ new Intl.NumberFormat("es-MX").format(product.price) }} ({{ product.quantity }})</span>
                </div>

            </div>

        </header>

        <main>

            <product v-for="product in products" :key="product.name" :product="product"></product>

        </main>
        
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script>

        const { createApp } = Vue;

        const app = createApp({

            data() {
                return {
                    products: [
                        {
                            name: "Camara",
                            price: 450_000,
                            stock: 5,
                            content: `Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo, facere quis animi, amet sequi iste ipsam rerum, necessitatibus tempora obcaecati consequatur maxime sint eos laboriosam veniam maiores voluptatem eum! Eveniet!`,
                            images: [
                                {
                                    image: "./images/camara.jpg",
                                    thumbnail: "./images/camara-thumb.jpg"
                                },
                                {
                                    image: "./images/camara-2.jpg",
                                    thumbnail: "./images/camara-2-thumb.jpg"
                                }
                            ],
                            new: true,
                            offer: true,
                            quantity: 1
                        },
                        {
                            name: "Camara PL",
                            price: 250_000,
                            stock: 5,
                            content: `Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo, facere quis animi, amet sequi iste ipsam rerum, necessitatibus tempora obcaecati consequatur maxime sint eos laboriosam veniam maiores voluptatem eum! Eveniet!`,
                            images: [
                                {
                                    image: "./images/camara.jpg",
                                    thumbnail: "./images/camara-thumb.jpg"
                                },
                                {
                                    image: "./images/camara-2.jpg",
                                    thumbnail: "./images/camara-2-thumb.jpg"
                                }
                            ],
                            new: true,
                            offer: true,
                            quantity: 1
                        },
                        {
                            name: "Camara PL2",
                            price: 550_000,
                            stock: 3,
                            content: `Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo, facere quis animi, amet sequi iste ipsam rerum, necessitatibus tempora obcaecati consequatur maxime sint eos laboriosam veniam maiores voluptatem eum! Eveniet!`,
                            images: [
                                {
                                    image: "./images/camara.jpg",
                                    thumbnail: "./images/camara-thumb.jpg"
                                },
                                {
                                    image: "./images/camara-2.jpg",
                                    thumbnail: "./images/camara-2-thumb.jpg"
                                }
                            ],
                            new: true,
                            offer: true,
                            quantity: 1
                        },
                        {
                            name: "Camara PL3",
                            price: 650_000,
                            stock: 3,
                            content: `Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo, facere quis animi, amet sequi iste ipsam rerum, necessitatibus tempora obcaecati consequatur maxime sint eos laboriosam veniam maiores voluptatem eum! Eveniet!`,
                            images: [
                                {
                                    image: "./images/camara.jpg",
                                    thumbnail: "./images/camara-thumb.jpg"
                                },
                                {
                                    image: "./images/camara-2.jpg",
                                    thumbnail: "./images/camara-2-thumb.jpg"
                                }
                            ],
                            new: true,
                            offer: true,
                            quantity: 1
                        }
                    ],
                    cartOpen: true,
                    cart: []
                }
            },

            methods: {}

        });

    </script>

    <script src="./Product.js"></script>

    <script>
        app.mount("#app");
    </script>
    
</body>
</html>